.full-width {
  width: 90%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.formLogin {
  max-width: 700px;
  margin: 30px;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}



.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.col {
  flex: 1;
  width: 100%;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
